<h1>Upload Reports</h1>
<form asp-action="Index"
      asp-controller="Upload"
      enctype="multipart/form-data"
      method="post">
    <div class="form-group">
        <label aria-label="Title of the report being created"
               for="title">
            Report title
        </label>
        <input class="form-control"
               id="title"
               name="title"
               placeholder="Report title"
               type="text" />
    </div>
    <div class="form-row">
        <div class="form-group col-md">
            <label aria-label="Name of the publishing agency"
                   for="publisher">
                Publisher name
            </label>
            <input class="form-control"
                   id="publisher"
                   name="publisher"
                   placeholder="Publisher name"
                   type="text" />
        </div>
        <div class="form-group col-md">
            <label aria-label="URL to the publisher's website"
                   for="website">
                Publisher website
            </label>
            <input class="form-control"
                   id="website"
                   name="website"
                   placeholder="Publisher website"
                   type="text" />
        </div>
    </div>
    <div class="form-row"
         hidden
         id="stylesheet-row">
        <div class="form-group col-md">
            <label aria-label="The URL to a CSS file to apply when HTML is selected"
                   for="stylesheetUrl">
                Stylesheet URL
            </label>
            <input class="form-control"
                   id="stylesheetUrl"
                   name="stylesheetUrl"
                   placeholder="Stylesheet URL"
                   type="text" />
        </div>
        <div class="form-group col-md">
            <label aria-label="The stylesheet to apply when HTML is selected"
                   for="stylesheet-upload-group">
                Stylesheet
            </label>
            <div class="custom-file"
                 id="stylesheet-upload-group">
                <input accept=".css"
                       class="custom-file-input"
                       id="stylesheet"
                       name="stylesheet"
                       type="file" />
                <label aria-label="Inner text of the stylesheet input"
                       class="custom-file-label"
                       for="stylesheet"
                       placeholder="Choose stylesheet (optional)">
                    Choose stylesheet (optional)
                </label>
            </div>
        </div>
    </div>
    <div class="form-group">
        <label aria-label="File input for attaching files to upload"
               for="files-upload-group">
            Documents
        </label>
        <div class="custom-file"
             id="files-upload-group">
            <input accept=".docx,.md"
                   class="custom-file-input"
                   id="files"
                   multiple
                   name="files"
                   required
                   type="file" />
            <label aria-label="Inner text of the file input"
                   class="custom-file-label"
                   for="files"
                   placeholder="Choose files to upload">
                Choose files to upload
            </label>
        </div>
    </div>
    <div class="form-group">
        <div class="btn-group btn-group-toggle"
             data-toggle="buttons"
             role="group">
            <label aria-label="Produce Word document result"
                   class="btn btn-outline-secondary active"
                   title="Word (.docx)">
                <input checked
                       id="docx"
                       name="format"
                       onchange="stylesheetRowCheck()"
                       type="radio"
                       value="docx" />
                <i class="fas fa-file-word"></i>
            </label>
            <label aria-label="Produce XML result"
                   class="btn btn-outline-secondary"
                   title="XML (.xml)">
                <input id="xml"
                       name="format"
                       onchange="stylesheetRowCheck()"
                       type="radio"
                       value="xml" />
                <i class="fas fa-file-code"></i>
            </label>
            <label aria-label="Produce HTML result"
                   class="btn btn-outline-secondary"
                   title="HTML (.html)">
                <input id="html"
                       name="format"
                       onchange="stylesheetRowCheck()"
                       type="radio"
                       value="html" />
                <i class="fab fa-html5"></i>
            </label>
            <label aria-label="Produce Markdown result"
                   class="btn btn-outline-secondary"
                   title="Markdown (.md)">
                <input id="md"
                       name="format"
                       onchange="stylesheetRowCheck()"
                       type="radio"
                       value="md" />
                <i class="fab fa-markdown"></i>
            </label>
        </div>
        <button aria-label="Submit the form and attached documents"
                class="btn btn-outline-primary float-right"
                type="submit">
            Upload
        </button>
    </div>
</form>

<ul id="file-names"></ul>