@{
    ViewData["Title"] = "Upload Reports";
}
<br/>
<form asp-controller="Upload" asp-action="Index" method="post" enctype="multipart/form-data">
    <div class="form-group">
        <label for="publisher">Report title</label>
        <input type="text"
               name="title"
               class="form-control"
               aria-label="Title of the report being created"
               placeholder="Report title">
    </div>
    <div class="form-row">
        <div class="form-group col-md">
            <label for="publisher">Publisher name</label>
            <input type="text"
                   id="publisher"
                   name="publisher"
                   class="form-control"
                   aria-label="Name of the publishing agency"
                   placeholder="Publisher name">
        </div>
        <div class="form-group col-md">
            <label for="website">Publisher website</label>
            <input type="text"
                   id="website"
                   name="website"
                   class="form-control"
                   aria-label="URL to the publisher's website"
                   placeholder="Publisher website">
        </div>
    </div>
    <div class="form-row" id="stylesheet-row" hidden>
        <div class="form-group col-md">
            <label for="stylesheetUrl">Stylesheet URL</label>
            <input type="text"
                   id="stylesheetUrl"
                   name="stylesheetUrl"
                   class="form-control"
                   aria-label="The URL to a CSS file to apply when HTML is selected."
                   placeholder="Stylesheet URL">
        </div>
        <div class="form-group col-md">
            <label for="stylesheet">Stylesheet</label>
            <div class="custom-file">
                <input id="stylesheet"
                       name="stylesheet"
                       type="file"
                       class="custom-file-input"
                       accept=".css">
                <label class="custom-file-label"
                       for="stylesheet"
                       placeholder="Choose stylesheet (optional)">
                    Choose stylesheet (optional)
                </label>
            </div>
        </div>
    </div>
    <div class="form-group">
        <label for="files">Documents</label>
        <div class="custom-file">
            <input id="files"
                   name="files"
                   type="file"
                   class="custom-file-input"
                   accept=".docx,.md"
                   multiple
                   required>
            <label class="custom-file-label"
                   for="files"
                   placeholder="Choose files to upload">
                Choose files to upload
            </label>
        </div>
    </div>
    <div class="form-group">
        <div class="btn-group btn-group-toggle" data-toggle="buttons">
            <label class="btn btn-outline-secondary active">
                <input type="radio"
                       id="docx"
                       name="format"
                       value="docx"
                       onchange="stylesheetRowCheck()"
                       checked>
                DOCX
            </label>
            <label class="btn btn-outline-secondary">
                <input type="radio"
                       id="xml"
                       name="format"
                       onchange="stylesheetRowCheck()"
                       value="xml">
                XML
            </label>
            <label class="btn btn-outline-secondary">
                <input type="radio"
                       id="html"
                       name="format"
                       onchange="stylesheetRowCheck()"
                       value="html">
                HTML
            </label>
            <label class="btn btn-outline-secondary">
                <input type="radio"
                       id="md"
                       name="format"
                       onchange="stylesheetRowCheck()"
                       value="md">
                Markdown
            </label>
        </div>
        <button class="btn btn-outline-primary float-right" type="submit">Upload</button>
    </div>
</form>

<ul id="file-names"></ul>