@{
    string documentation = $"{Url.ActionContext.HttpContext.Request.PathBase}/docs";
}
<nav class="navbar navbar-expand-md navbar-light bg-light">
    <a class="navbar-brand" asp-controller="Home" asp-action="Index" title="Go to Home">
        <img src="~/assets/favicon.ico" width="30" height="30" class="d-inline-block align-top" alt="logo icon">
        Reports API
    </a>
    <button class="navbar-toggler"
            type="button"
            data-toggle="collapse"
            data-target="#navbarContent"
            aria-controls="navbarContent"
            aria-expanded="false"
            aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div id="navbarContent" class="collapse navbar-collapse">
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link" href="@documentation">API Documentation</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" asp-controller="Home" asp-action="Guidance">Guidance</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" asp-controller="Home" asp-action="Process">Process Overview</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" asp-controller="Upload" asp-action="Index">Upload Report Documents</a>
            </li>
        </ul>
    </div>
</nav>