@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@model object
<nav class="navbar navbar-default">

    <div class="container-fluid">

        <div class="navbar-header">
            <a class="navbar-brand" asp-controller="Home" asp-action="Index">@ViewData["Title"]</a>
        </div>

        <ul class="nav navbar-nav">
            <li>
                <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                    API Documentation
                    <span class="caret"></span>
                </a>
                <ul class="dropdown-menu">
                    <li>
                        <a asp-page="/docs">Version 1.0</a>
                    </li>
                </ul>
            </li>

            <li>
                <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                    Upload Documents
                    <span class="caret"></span>
                </a>
                <ul class="dropdown-menu">
                    <li>
                        <a asp-controller="Upload" asp-action="Post">Production</a>
                    </li>
                    <li>
                        <a asp-controller="Upload" asp-action="StreamTest">Testing</a>
                    </li>
                </ul>
            </li>
        </ul>
    </div>
</nav>